@charset "utf-8";

/* 
날짜 : 2013-12-26
제목 : Reset.css ver.1.0
만든이 : 김유선
설명 : html 코딩시 기본설정을 모두 초기화합니다. CSS 사용시 가장 먼저 선언되어야 합니다.
*/


html, body, form, p, div, ul, ol, dl, dt, dd, li, table, tr, th, td, input, h1, h2, h3, h4, h5, h6, a, caption, select, caption, textarea  { margin:0; padding:0; vertical-align:baseline; /*line-height:1.6em; */}
h1, h2, h3, h4, h5, h6, article, aside, hgroup, header, footer, figure, figcaption, nav, section, div { display:block;}
table { width:100%; border:0 none; border-collapse:collapse; border-spacing:0; }
table caption, legend { position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0; }
img, input.image, fieldset, button { border:0 solid transparent; }
img { max-width:100%; height:auto; }
div, dl, ol, ul, dt  { list-style:none; overflow:hidden; }
blockquote, q { quotes:none; }
hr { display:none; }
form, input, textarea, select, button, option { font-size:9pt; vertical-align:middle; }
fieldset { margin:0; padding:0; border:0; vertical-align:top; }
textarea { overflow-y:auto; color:#666; }
a { background:transparent; text-decoration:none; cursor:pointer; color:#555; }
a:hover, a:active { outline:0; }
a:focus { outline:thin dotted; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }