@charset "utf-8";

@import url(./common/reset.css);
@import url(./common/basic.css);

/*@import url(./html&css_guide/layout.css);*/
/*    */
/*    */
/* layout */
#wrap { width:1000px;margin:0 auto; } 
body { font-size:9pt; font-family:arial, 맑은 고딕; color:#666; }
div.gnb{margin-top:1px; margin-bottom:1px;background:#333;}
div.gnb ul{list-style:none;}
div.gnb ul:after{content:"";clear:both;display:block;}
div.gnb ul li{float:left;border-right:1px solid #fff;}
div.gnb ul li a{color:#fff;padding:8px 20px;display:block;font-weight:bold;text-decoration:none;}
div.gnb ul li a:hover{background:#ff902d;}
div#container { width:960px; padding:20px;}
div#footer { width:1000px;padding:20px 0; background:#eee;text-align:center;}
/* header */
#header { background:#333; }
.logo { overflow:hidden; float:left; width:175px; height:56px; margin:7px 0; background:url(/resources/images/logo.jpg) no-repeat; text-indent:100%; white-space:nowrap; }
.logo2 { overflow:hidden; float:left; width:300px; margin-top:25px; margin-bottom:28px; }
.logo2 p { display:inline; margin-left:10px; font-weight:bold; font-size:10pt; color:#40E0D0; } 
.user_info { position:relative; float:right; margin-top:25px; margin-right:5px; font-size:8pt; }
.user_info p { display:inline; margin-left:15px; }
.user_info p:after { position:absolute; margin-left:7px; font-size:6pt; color:#a3a6b2; content:"|"; }
.user_info p:last-child:after { content:""; }
.user_info p a { font-weight:bold; color:#f70; }

/* table common */
table { width:100%; /* border-top:1px solid #373c4e; border-bottom:1px solid #999; */}
th { padding:6px 0; border-bottom:1px solid #ddd; background:#f3f3f3; color:#373c4e; border-top:1px solid #ddd; }
td { padding:6px; border-bottom:1px solid #ddd; border-top:1px solid #ddd; }
textarea { border:1px solid #999; padding:5px; background:#fbfbfb; }

/* table style */
.table_list th { border-bottom:1px solid #ddd; }
.table_list th:after { float:right; color:#999; font-weight:100; content:"|"; }
.table_list th:last-child:after { content:""; }
.table_list tbody > tr:hover { background:#f8fafc; }
.table_list td { padding:0; text-align:center; }
.table_list td:nth-child(2) { text-align:left; }
.table_list td a { display:block; padding:6px; }
.table_list td span { color:#f70; }
.icon_new1:after { margin-left:3px; padding:0 2px; border:1px solid #02f; border-radius:2px; 
            background:#08f; color:#fff; font-size:7pt; font-weight:bold; line-height:1em; content:"N"; 
}
.table_view td { padding:6px 10px 6px; } 

/* paging area */
.paging { margin-top:15px; text-align:center; font-weight:bold; }
.paging a { display:inline-block; padding:2px 8px; text-align:center; vertical-align:middle; }
.paging a:hover { background:#f3f4f5; text-decoration:underline; }
.paging span { display:inline-block; padding:2px 8px; background:#999; 
            text-align:center; color:#fff; vertical-align:middle; }
.paging a:first-child, .paging a:last-child { color:#999; }

/* table more */
.table_more { margin-top:15px; margin-bottom:2px; text-align:right; font-weight:bold; }
.table_add { margin-top:15px; margin-bottom:2px; text-align:center; font-weight:bold; }
.table_left { margin-top:15px; margin-bottom:2px; text-align:left; font-weight:bold; }
.table_right { margin-top:15px; margin-bottom:2px; text-align:right; font-weight:bold; }

/* Button Style */
.btn_blue1 { padding:6px 8px; border:1px solid #06C; background:#09F; color:#fff; }
.btn_red1 { padding:6px 8px; border:1px solid #DC143C; background:#FF4500; color:#fff; }
.btn_orange1 { padding:6px 8px; border:1px solid #C30; background:#F63; color:#fff; }
.btn_gray1 { padding:6px 8px; border:1px solid #333; background:#666; color:#fff; }
.btn_gray2 { padding:6px 8px; border:1px solid #999; background:#f0f0f0; color:#888; }
.btn_green1 { padding:6px 8px; border:1px solid #060; background:#093; color:#fff; }
.btn_green2 { border:1px solid #060; background:#093; color:#fff; }
.sbtn_gray1 { border:1px solid #333; padding:4px 6px; background:#999; 
            color:#fff; font-size:9pt; font-weight:bold; }
.sbtn_gray2 { border:1px solid #999; padding:2px 4px; background:#f0f0f0; 
            color:#888; font-size:9pt; font-weight:bold; }
.sbtn_white1 { border:1px solid #aaa; margin-bottom:3px; padding:3px 5px; 
            background:#fff; color:#888; font-size:8pt; }
.mbtn_gray1 { padding:2px 3px; background:#666; font-weight:bold; 
            color:#fff; font-size:7pt; vertical-align:middle; }
            
.info_box { /* position:relative;  */margin:40px 0 15px; padding-top:15px; border-top:2px solid #666; color:#666; }
.info_box p { font-weight:bold; font-size:12pt; min-height:20px;}
.info_box b { color:#c00; }

/* login */
div.loginWrap{width:700px;margin:0 auto;padding-top:150px;}
h2.login_tlt{padding-bottom:10px;}
div.login{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:30px 150px;}
div.login select,div.login input[type="text"],div.login input[type="password"]{width:250px;display:block;margin:0 auto 8px;}
div.login p.btn_login{width:260px;margin:0 auto;}
div.login p.btn_login:after{content:"";clear:both;display:block;}
div.login p.btn_login .fl_l{float:left;}
div.login p.btn_login .fl_r{float:right;}
div.login p.btn_login .find_go{text-decoration:underline;display:inline-block;padding-top:10px;}
div.login p.btn_login button{width:125px;display:block;padding:10px 0;background:#555;color:#fff;}

p.msg_area{text-align:center;background:#eee;width:260px;margin:0 auto 7px;height:25px;line-height:25px;}

.dashboard {
	width: 100%;
	border: 14px solid #ddd;
	position: relative;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dashboard2 {
	width: 100%;
	border: 5px solid #ddd;
	position: relative;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dashboard3 {
	width: 300px;
	height: 370px;
	border: 5px solid #1E90FF;
	position: fixed;
	right:75px;
	bottom:15px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index:1000;
	background-color:#FFFFFF;
	display:none;
}

.dashboard4 {
	width: 190px;
	height: 280px;
	border: 5px solid #808080;
	position: fixed;
	right:20px;
	top:270px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index:50;
	background-color:#FFFFFF;
}

.tab_layer {
	width: 100%;
	position: relative;
	padding:20px 20px 0px 20px;
}

.tab_layer > label {
	width: 110px;
	display: inline-block;
	line-height:1.8em;
	font-size:.9em;
	padding: 5px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.tab_layer > a {
	width: 110px;
	display: inline-block;
	line-height:1.8em;
	font-size:.9em;
	padding: 5px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.tab_main {
	border: 1px solid #1E90FF;
	background: #0090D2;
	color: #FFFFFF;	
}

.tab_sub {
	border: 1px solid #CCC;
	background: #E1E1E1;
	color: #777;	
}

input[type="text"],
input[type="password"],
input.ui-autocomplete-input,
textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 22px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input.ui-autocomplete-input:focus,
textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.text {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 22px;
}

.text:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.chkradio {
	height:20px !important;
	padding:5px !important;
	display:table-cell !important;
}

.chkradio_nolabel {
	height:10px !important;
	padding:5px !important;
	display:table-cell !important;
}

a.btn_blue {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #304a8a; background-color:#3f5a9d; font-size:12px; color:#ffffff; line-height:25px;}
a.btn_blue:hover {border: 1px solid #091940; background-color:#1f326a; color:#ffffff;}
a.btn_gray {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #A9A9A9; background-color:#696969; font-size:12px; color:#ffffff; line-height:25px;}
a.btn_gray:hover {border: 1px solid #708090; background-color:#778899; color:#ffffff;}
a.btn_green {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #90EE90; background-color:#98FB98; font-size:12px; color:#000000; line-height:25px;}
a.btn_green:hover {border: 1px solid #008000; background-color:#228B22; color:#000000;}
a.btn_yellow {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #90EE90; background-color:#FFFF00; font-size:12px; color:#000000; line-height:25px;}
a.btn_yellow:hover {border: 1px solid #B8860B; background-color:#DAA520; color:#000000;}
a.btn_red {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #FF6347; background-color:#FF4500; font-size:12px; color:#ffffff; line-height:25px;}
a.btn_red:hover {border: 1px solid #DC143C; background-color:#B22222; color:#ffffff;}

.btn_help {
    position:fixed;
    right:15px;
    bottom:15px;
    border-radius:5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    color:#ffffff;
    background-color:#666666;
    background-color:rgba(50,50,50,0.8);
    z-index:999;
}
.btn_help:hover {
    background-color:#333333;
    background-color:rgba(0,0,0,0.8)
}
.btn_help i {
    border:1px solid #666666;
    border-radius:5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    font-size:10pt;
    font-weight:bold;
    padding:9px 10px
}
.blayer {
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.blayer:before {
	content:"도움말";
}

.wide_chart {
	position: absolute;
	left: 0;
	right: 0;
	padding:0px 20px 0px 20px;
}

.filter_bar {
	height:30px;
	width:100px;
	vertical-align:middle;
	cursor:pointer;
}

.filter_text {
	border:0px;
	vertical-align:middle;
	font-weight:bold;
}