@import "../globle.scss";

//@import url(#{$REMOTE_CSS_ADDR}resources/assets/font/notosanskr/style.css);

.main {
    width: 1280;
    flex: 1;
    display: "flex";
    flex-direction: "column";
}

// .override-ant-btn {
//     :global(.ant-btn) {
//       border-radius: 20px;
//     }
//   }


@mixin linkBtn {
    display: inline-block;
    padding: 11px 20px;
    height: 36px;
    font-size: 14px;
    line-height: 1em;
    // color: #fff;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 4px;
    background-color: #999;
    cursor: pointer;
    text-align: center;

}


.actionButton {
    @include linkBtn;
    width: 120px;
    margin-right: 5px;
    // background-color: #ff865d;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ff8976;
    color: #ea6153;
}
 
.actionButton2 {
    @include linkBtn;
    width: 140px;
    margin-right: 5px;
//    background-color: rgb(113,186,217);
    border-style: solid;
    background-color: #ff8976;
    border-color: #ff8976;
    color: white;
//    border-color: rgb(113,186,217);
}


.iconDialogYes {
    width: 9px;
    height: 9px;
   background-color: black;
   background-image: url(#{$REMOTE_CSS_ADDR}/resources/assets/images/icon-dialog-yes.png);
}


.actionButton3{
    @include linkBtn;
    width: 120px;
    margin-right: 5px;
    background-color: rgb(227,226,241);
    // border-color: rgb(129,196,189);
}

.showGridButton{
    @include linkBtn;
    width: 60px;
    margin-right: 5px;
//    background-color: rgb(119,119,119);
    background-color: rgb(227,226,241);
    //border-color: rgb(119,119,119);

}

.iconDetail {  
    width: 11px;
    height: 11px;
    background-image: url(#{$REMOTE_CSS_ADDR}/resources/assets/images/icon-detail.png);
}

.text{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.ant-table-thead > tr >th{
    color: white;
    background: #3071b9 !important;
  }

.serachActionButton{ 
    @include linkBtn;
    // width: 70px;
     margin-right: 5px;


    display: inline-block;
    padding: 11px 20px;
    height: 36px;
    font-size: 14px;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 4px;
    background-color: rgb(227,226,241);
    //color: #fff;
    //background-color: rgb(173,153,215);
    //border-color: rgb(173,153,215);


}

.excelExportActionButton{
    @include linkBtn;
    width: 121px;
    margin-right: 5px;
    background-color: rgb(227,226,241);
    // background-color: rgb(140,190,98);
    // border-color: rgb(140,190,98);

}