@charset "utf-8";

html,body {width:100%;height:100%;zoom:1;}
body,body *,body *:before,body *:after {position:relative;word-wrap:break-word;word-break:keep-all;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-tap-highlight-color:transparent;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body, button, html, input, select, textarea {font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;}
header, section, nav, article, footer {display:block;}
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
input,textarea,button,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-text-size-adjust:none;}
img,fieldset {border:0;}
h1,h2,h3,h4,h5 {font-size:100%;}
ul,ol,li {list-style:none;}
hr {display:none;}
legend,caption {display:none;clear:both;}
table {width:100%;border-collapse:collapse;border:0;}
table,thead,tbody,tfoot,tr,th,td {position:static;}
textarea,input,button {outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
textarea {resize:none;}
label {cursor:pointer;}
label,textarea,input,select,button {vertical-align:middle;}
p {white-space:normal;word-wrap:break-word;word-break:keep-all;}
pre {overflow-x:scroll;}
em, dfn, cite, address, i {font-style:normal;}
button {overflow:visible;cursor:pointer;background:none;border:0;}
button[disabled="disabled"] {cursor:default;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {margin:0;appearance:none;-webkit-appearance:none;-moz-appearance:none;}

select {-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}

/* a link setting */
a,a:link {text-decoration:none;}
a,button,select,input {font-family:inherit;}
/* text transform */
.tup {text-transform:uppercase;}
.tcp {text-transform:capitalize;}
.text-ir {display:block;position:absolute;margin:-1px;padding:0;width:1px;height:1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}

.clearfix:after {content: '';display:block; visibility:hidden; clear:both; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
.clear {clear:both;}
.hide {display:none;}
.skip {position:absolute;width:1px;height:1px;margin:0;padding:0;background:none; font-size:3px; color:transparent; line-height: 0}

.skip-nav li a {display:block;position:fixed;top:-100%;left:0;width:100%;padding:15px 0;background:#222;color:#fff;font-size:1em;line-height:2em;text-align:center;z-index:50000;outline:0;}
.skip-nav li a:focus {top:0;}

#ie-version {position:fixed;top:0;left:0;width:100%;padding:18px 0 20px;background:#65b6f5;text-align:center;z-index:9999;color:#fff;font-size:1em;}
#ie-version a {display:inline-block;padding:4px 5px 5px;color:#fff;border:1px solid #fff;}
#ie-version .version-close {position:absolute;top:5px;right:1em;color:#fff;}
