.gantt {position: relative;width: 100%;min-height: 200px;border: 1px solid #ddd;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #fff;}
.gantt:after {content: ".";display: block;clear: both;visibility: hidden;height: 0;}
.fn-gantt {width: 100%;}
.fn-gantt *,
.fn-gantt *:after,
.fn-gantt *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.fn-gantt .fn-content {position: relative;width: 100%;overflow: hidden;}
.fn-gantt .row {float: left;margin: 0;height: 31px;line-height: 31px;}

.fn-gantt .leftPanel {float: left;position: relative;width: 220px;border-right: 1px solid #ddd;overflow: hidden;z-index: 20;}
.fn-gantt .leftPanel .fn-label {display: inline-block;padding: 0 0 0 5px;width: 110px;color: #333;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.fn-gantt .leftPanel .row {border-bottom: 1px solid #ddd;}
.fn-gantt .leftPanel .name,
.fn-gantt .leftPanel .desc {float: left;width: 50%;height: 31px;background-color: #ededed;}
.fn-gantt .leftPanel .name {font-weight: 400;}
.fn-gantt .leftPanel .fn-wide,
.fn-gantt .leftPanel .fn-wide .fn-label {width: 100%;}
.fn-gantt .leftPanel .spacer {display: table;width: 100%;font-size: 16px;font-weight: 400;line-height: 18px;color: #333;background-color: #d1d1d1;}

.gold-room .fn-gantt .leftPanel .spacer {background-color: #ffdc73;}
.sliver-room .fn-gantt .leftPanel .spacer {background-color: #d1d1d1;}
.counter .fn-gantt .leftPanel .spacer {background-color: #c7eaf9;}

.fn-gantt .rightPanel {overflow: hidden;}
.fn-gantt .dataPanel {position: relative;margin-left: 0;background-repeat: repeat;background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJsYXllcjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzFweCIgaGVpZ2h0PSIzMXB4IiB2aWV3Qm94PSIwIDAgMzEgMzEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDMxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2U1ZTVlNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IjMwLjUsLTAuNSAzMC41LDMwLjUgLTAuNSwzMC41ICIvPgo8L3N2Zz4=);outline: 1px solid #ddd;}
.fn-gantt .row.header {margin-right: -1px;width: 100%;}
.fn-gantt .day,
.fn-gantt .date {width: 31px;font-size: 14px;font-weight: 400;line-height: 31px;color: #333;text-align: center;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;overflow: visible;}
.fn-gantt .date {border-right-color: #f4f4f5;background-color: #ededed;}
.fn-gantt .day {background-color: #f7f7f7;}
.fn-gantt .sa,
.fn-gantt .sn,
.fn-gantt .wd {height: 31px;text-align: center;}
.fn-gantt .sa {color: #4a88db;}
.fn-gantt .sn {color: #eb5463;}
.fn-gantt .holiday {height: 31px;}
.fn-gantt .today {height: 31px;text-align: center;}
.fn-gantt .rightPanel .month,
.fn-gantt .rightPanel .year {float: left;height: 31px;font-weight: 400;color: #333;text-align: center;border-right: 1px solid;border-bottom: 1px solid #ddd;overflow: hidden;}
.fn-gantt .rightPanel .year {font-size: 15px;border-right-color: #fff;background-color: #ededed;}
.fn-gantt .rightPanel .month {font-size: 14px;border-right-color: #eeeef0;background-color: #f7f7f7;}
.fn-gantt-hint {display: none;position: absolute;padding: 10px;border: 5px solid #edc332;background-color: #fff5d4;z-index: 11;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.fn-gantt .bar {position: absolute;margin: 0 18px 0 15px;min-width: 31px;height: 26px;color: #fff;text-align: center;background-color: #55bcdd;z-index: 10;-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;-moz-box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.fn-gantt .bar .fn-label {padding: 0 4px;width: 100%;font-size: 14px;line-height: 26px;text-align: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

.fn-gantt .ganttOrange {margin: 0;background-color: transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fn-gantt .ganttOrange .fn-label {color: #333 !important;}

.fn-gantt .ganttGreen {background-color: #ff7c55;}						/* 입실예정(미납) */
.fn-gantt .ganttGreen .fn-label {color: #fff !important;}
.fn-gantt .ganttMediumAquaMarine {background-color: #55bcdd;}           /* 입실예정(완납) */
.fn-gantt .ganttMediumAquaMarine .fn-label {color: #fff !important;}
.fn-gantt .ganttYellow {background-color: #fdba46;}                     /* 계약포기 */
.fn-gantt .ganttYellow .fn-label {color: #fff !important;}
.fn-gantt .ganttIndianRed {background-color: #ec1c24;}					/* 입실확정(미납) */
.fn-gantt .ganttIndianRed .fn-label {color: #fff !important;}
.fn-gantt .ganttRed {background-color: #d570ac;}                   		/* 입실확정(완납) */
.fn-gantt .ganttRed .fn-label {color: #fff !important;}
.fn-gantt .ganttBlue {background-color: #35ba9b;}                       /* 입실확정(객실이동) */
.fn-gantt .ganttBlue .fn-label {color: #fff !important;}
.fn-gantt .ganttGray {background-color: #777;}                          /* 예약취소 */
.fn-gantt .ganttGray .fn-label {color: #fff !important;}
.fn-gantt .ganttLightGray {background-color: #BDBDBD; }                 /* 퇴실 */
.fn-gantt .ganttLightGray .fn-label {color: #fff !important;}

/* === BOTTOM NAVIGATION === */

.fn-gantt .bottom {
    clear: both;
    background-color: #f6f6f6;
    width: 100%;
}
.fn-gantt .navigate {
    padding: 10px 0 10px 225px;
}

.fn-gantt .navigate .nav-slider {
    height: 20px;
    display: inline-block;
}

.fn-gantt .navigate .nav-slider-left, .fn-gantt .navigate .nav-slider-right {
    text-align: center;
    height: 20px;
    display: inline-block;
}

.fn-gantt .navigate .nav-slider-left {
    float: left;
}

.fn-gantt .navigate .nav-slider-right {
    float: right;
}

.fn-gantt .navigate .nav-slider-content {
    text-align: left;
    width: 160px;
    height: 20px;
    display: inline-block;
    margin: 0 10px;
}

.fn-gantt .navigate .nav-slider-bar, .fn-gantt .navigate .nav-slider-button {
    position: absolute;
    display: block;
}

.fn-gantt .navigate .nav-slider-bar {
    width: 155px;
    height: 6px;
    background-color: #838688;
    margin: 8px 0 0 0;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;
   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;
        box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
}

.fn-gantt .navigate .nav-slider-button {
    width: 17px;
    height: 60px;
    background: url(../img/slider_handle.png) center center no-repeat;
    left: 0;
    top: 0;
    margin: -26px 0 0 0;
    cursor: pointer;
}

.fn-gantt .navigate .page-number {
    display: inline-block;
    font-size: 10px;
    height: 20px;
}

.fn-gantt .navigate .page-number span {
    color: #666666;
    margin: 0 6px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

.fn-gantt .navigate a:link, .fn-gantt .navigate a:visited, .fn-gantt .navigate a:active {
    text-decoration: none;
}

.fn-gantt .nav-link {
    margin: 0 3px 0 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    background: #595959 url(../img/icon_sprite.png) !important;
    border: 1px solid #454546;
    cursor: pointer;
    vertical-align: top;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.fn-gantt .nav-link:active {
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
        box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
}

.fn-gantt .navigate .nav-page-back {
    background-position: 1px 0 !important;
    margin: 0;
}

.fn-gantt .navigate .nav-page-next {
    background-position: 1px -16px !important;
    margin-right: 15px;
}

.fn-gantt .navigate .nav-slider .nav-page-next {
    margin-right: 5px;
}

.fn-gantt .navigate .nav-begin {
    background-position: 1px -112px !important;
}

.fn-gantt .navigate .nav-prev-week {
    background-position: 1px -128px !important;
}

.fn-gantt .navigate .nav-prev-day {
    background-position: 1px -48px !important;
}

.fn-gantt .navigate .nav-next-day {
    background-position: 1px -64px !important;
}

.fn-gantt .navigate .nav-next-week {
    background-position: 1px -160px !important;
}

.fn-gantt .navigate .nav-end {
    background-position: 1px -144px !important;
}

.fn-gantt .navigate .nav-zoomOut {
    background-position: 1px -96px !important;
}

.fn-gantt .navigate .nav-zoomIn {
    background-position: 1px -80px !important;
    margin-left: 15px;
}

.fn-gantt .navigate .nav-now {
    background-position: 1px -32px !important;
}

.fn-gantt .navigate .nav-slider .nav-now {
    margin-right: 5px;
}

.fn-gantt-loader {
	display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );
    background: rgba(0,0,0,0.75);
    cursor: wait;
    z-index: 30;
}
.fn-gantt-loader-spinner {
	display: table-cell;
    text-align: center;
	vertical-align: middle;
    height: 1em;
    line-height: 1em;
    color: #fff;
    font-size: 1em;
}

.row:after {
    clear: both;
}

