//$REMOTE_CSS_ADDR: "http://localhost:8080/"; //로컬테스트시 사용
//$REMOTE_CSS_ADDR: "http://192.168.101.8:8080/"; //배포시사용 
$REMOTE_CSS_ADDR: "http://testg.tosky.co.kr/"; //배포시사용 
//$REMOTE_CSS_ADDR: "http://mymam.tosky.co.kr/"; //배포시사용 
//$REMOTE_CSS_ADDR: "/"; //배포시사용 

//$REMOTE_CSS_ADDR:"https://gung-front-resources.s3.ap-northeast-2.amazonaws.com/";




@mixin RowLine {
    display:flex;
    width:100%;
    flex:1;
    flex-direction:row;
    justify-content:flex-end;
}