//$REMOTE_CSS_ADDR: "http://localhost:8080"; //로컬테스트시 사용
//$REMOTE_CSS_ADDR: "http://localhost:3000/"; //배포시사용 
$REMOTE_CSS_ADDR: "http://192.168.101.8:8080/"; //배포시사용 
//$REMOTE_CSS_ADDR: "http://testg.tosky.co.kr/"; //배포시사용 





@mixin RowLine {
    display:flex;
    width:100%;
    flex:1;
    flex-direction:row;
    justify-content:end;
}