/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* body {
	min-width: 1024px;
	font-weight: 300;
	background-color: #eeeff3;
} */

@import "./globle.scss";

@import "antd/dist/antd.css";
@import url(#{$REMOTE_CSS_ADDR}/resources/assets/font/notosanskr/style.css);
@import url(#{$REMOTE_CSS_ADDR}/resources/assets/css/default.css);
@import url(#{$REMOTE_CSS_ADDR}/resources/assets/css/style.css?ver=1.01);




